@using System.Collections.Generic
@{
    List<string> names = new List<string> { "Sara", "Alessandra", "Eléonore", "Coline", "Bao", "Maryam", "Kasia", "Anissa" };
}
<h1>Nouvel Index!</h1>
@if (names.Count > 0)
{
<ul>
    @foreach (string name in names)
    {
        <li>@name</li>
    }
</ul>
}
else { 
    <p>Personnes n'est connecté en ce moment...</p>
}